body {
  background-color: brown;
}

.box {
  max-width: 50%;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  padding: 50px;
  clear: both;
}

p {
  border: 10px solid yellow;
  padding: 100px;
  background: red;
}
